<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Nome do game aqui</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/criadores">Criadores</a>
            </li>
        </ul>
    </div>
</nav>
<div id="interna" class="fadeIn">
    <div>
        <br> <img src="/img/rafael.jpg" alt="Rafael " width="10% " height="50% ">
        <ul>
            <li>Rafael Vagner Maciel</li>
            <li>RA: 2003384</li>
            <li>Dois Vizinhos - Parana</li>
            <li>Engenharia de Software 5° período </li>
        </ul>
    </div>

    <br>
    <br>

    <div>

        <br> <img src="/img/nathan.jpg" alt="Nathan" width="10% " height="50% ">
        <ul>
            <li>Nathan</li>
            <li>RA: 1932861</li>
            <li>Dois Vizinhos - Paraná</li>
            <li>Engenharia de Software 7° período </li>
        </ul>
    </div>
    <div>

        <br> <img src="/img/thais.jpeg" alt="Thais " width="10% " height="50% ">
        <ul>
            <li>Thais</li>
            <li>RA: 1871463</li>
            <li>Dois Vizinhos - Parana</li>
            <li>Engenharia de Software 6° período </li>
        </ul>


    </div>
</div>


</div>