<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/home"><strong>QuizVID</strong></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/criadores">Criadores</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container ">

    <div class="p-3 border bg-light fadeIn level align-center">

        <br> <img src="/img/rafael.jpg" alt="Rafael " width="10% " height="50% ">
        <p>Rafael Vagner Maciel</p>
        <p>RA: 2003384</p>
        <p>Dois Vizinhos - Parana</p>
        <p>Engenharia de Software 5° período </p>
        <br>

        <br> <img src="/img/nathan.jpg" alt="Nathan" width="10% " height="50% ">
        <p>Nathan</p>
        <p>RA: 1932861</p>
        <p>Dois Vizinhos - Paraná</p>
        <p>Engenharia de Software 7° período </p>

        <br> <img src="/img/thais.jpeg" alt="Thais " width="10% " height="50% ">
        <p>Thais</p>
        <p>RA: 1871463</p>
        <p>Dois Vizinhos - Parana</p>
        <p>Engenharia de Software 6° período </p>

    </div>
</div>
</div>
</div>
</div>